@media only screen and (max-device-width: 480px) {
    #main-image {
        height:auto !important;
        width:100% !important;
    }
}
body {
  background-color: #EDF0F5!important;
  }
form {
  width: 20%;
  margin: 0;
  float: right;
  font-size: 1em !important;
  background-color: #ACB9C9;
  border: black 1em;
  border-radius: 5%;
  vertical-align: center;
}
#main-content {
  background-color: #FFF;
}
#jjmLogo {
  margin-top: .3em;
}

#main-image {
  margin: 0 auto;
}

textarea#bio {
  width: 100%;
}


#home-image {
  vertical-align: center;

}

#main-image {
  width: 80%;
  margin-left: 10%;
}

#phoneNumbers {
  text-align: right !important;
}

#subHeader {
  font-family: 'Lora', serif;
  font-size: 1.7em;
  float: right;
  margin: 0 auto;
}

/*#bigLogo {
  padding-bottom: 2%;
}*/

#bigLogo {
  margin-left: 9%;
  margin-bottom: 1%
}



